<header>
	<div class="navbar">
		<div class="container h-100">
			<a class="navbar__brand" href="{{ site.link }}">
				<img src="{{ theme.link }}/src/images/White@2x.png" alt="Vigor Crossfit">
			</a>
			<nav class="navbar__menu d-none d-lg-block">
				<ul class="list-unstyled d-flex">
					<li>
						<a href="#" class="active">Home</a>
					</li>
					<li>
						<a href="{{ site.link }}/about">About</a>
					</li>
					<li>
						<a href="{{ site.link }}/programs">Programs</a>
					</li>
					<li>
						<a href="{{ site.link }}/careers">Careers</a>
					</li>
					<li>
						<a href="{{ site.link }}/contact">Contact</a>
					</li>
					<li>
						<a href="{{ site.link }}/blog">Blog</a>
					</li>
					<li>
						<a href="{{ site.link }}/store">Store</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-cart"></i>
						</a>
					</li>
				</ul>
			</nav>		

			<div class="menu d-lg-none">
				<div class="menu__trigger js-menu-trigger"><span>MENU</span></div>
				<div class="menu__inner js-menu-inner">
					<ul class="menu__inner-background js-menu-inner-background">
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
					</ul>
					<div class="menu__items-wrapper js-menu-items-wrapper">
						<ul class="menu__items-list js-menu-items-list list-unstyled">
							<li class="js-menu-item is-active">
								<a href="{{ site.link }}">Home</a>
							</li>
							<li class="js-menu-item">
								<a href="{{ site.link }}/about">About</a>
							</li>
							<li class="js-menu-item">
								<a href="{{ site.link }}/programs">Programs</a>
							</li>
							<li class="js-menu-item">
								<a href="{{ site.link }}/careers">Careers</a>
							</li>
							<li class="js-menu-item">
								<a href="{{ site.link }}/contact">Contact</a>
							</li>
							<li class="js-menu-item">
								<a href="{{ site.link }}/blog">Blog</a>
							</li>
							<li class="js-menu-item">
								<a href="{{ site.link }}/store">Store</a>
							</li>
						</ul>

					</div>
					<div class="menu__trigger menu__trigger--close js-menu-close"><span>Close</span></div>
				</div>
			</div>				
		</div>
	</div>
</header>
